@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

@import 'tailwindcss';

@plugin "daisyui" {
  themes: sentinel --default, emerald, business --prefersdark;
}

@plugin "daisyui/theme" {
  name: "sentinel";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: hsl(210 100% 50%);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: hsl(30 100% 50%);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: hsl(270 70% 60%);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: hsl(220 9% 46%);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* Custom Tailwind theme extensions */
@theme {
  --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Roboto Mono', ui-monospace, monospace;
  --font-serif: 'Roboto Slab', ui-serif, Georgia, serif;
}
