http://{$WIKI_DOMAIN} {
	reverse_proxy wikijs:3000 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}

:80 {
	@healthz path /healthz
	handle @healthz {
		rewrite * /health
		reverse_proxy backend:3000 {
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	@api path /api /api/*
	handle @api {
		reverse_proxy backend:3000 {
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	@socket path /socket.io*
	handle @socket {
		reverse_proxy backend:3000 {
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle {
		reverse_proxy frontend:3001 {
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
		}
	}
}
