server:
  http_listen_port: 9080
  grpc_listen_port: 0
  log_level: info

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push
    batchwait: 1s
    batchsize: 1048576
    timeout: 10s

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: name
            values: ['sentinel-.*']
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/sentinel-.*'
        action: keep
      - source_labels: ['__meta_docker_container_log_path']
        target_label: __path__
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: container
        replacement: '$1'
      - source_labels: ['__meta_docker_container_name']
        regex: '/sentinel-(.*)'
        target_label: service
        replacement: '$1'

  - job_name: docker_logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker_logs
          __path__: /var/lib/docker/containers/*/*-json.log
